/***********************************************
CSS Reset
*************************************************/
@tailwind base;
@tailwind components;
@tailwind utilities;

/***********************************************
CSS Reset
*************************************************/
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/***********************************************
Global Styles
*************************************************/
body {
  font-family: "Montserrat", sans-serif;
  background-color: #191919;
  color: #f5f7f8;
}

/*************************************************
Custom Tailwind Groups
*************************************************/
.custom-container-width {
  @apply w-90vw mx-auto lg:w-4/5;
}

.custom-header-styles {
  @apply text-5xl font-bold;
}

.custom-subheading-styles {
  @apply text-3xl font-bold;
}

.custom-paragraph-styles {
  @apply text-sm  text-slate-100;
}
